# Core (both versions)
byaldi>=0.0.5

# Colab version
groq
pdf2image
requests
ipython

# Local/Cluster version
transformers
accelerate
qwen-vl-utils
torch
sentence-transformers
pymupdf
